.image-page {
  &__figure {
    min-height: 40%;
    min-width: 40%;
    max-height: 60%;
    max-width: 80%;
    height: auto;
    width: auto;

    @media (min-width: 768px) {
      max-width: 1024px;
    }
  }

  &__img {
    height: 100%;
    width: 100%;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }

  &__title {
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    color: white;
    margin: 0 0 0 1em;
  }

  &__description {
    width: 100%;
    text-align: center;
    font-size: 0.6em;
    color: white;
    margin: 0 0 1em;
  }
}
