.modal-enter {
  transform: translateY(-2rem);
  opacity: 0;
}

.modal-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 200ms;
}

.modal-exit {
  transform: translateY(0);
  opacity: 1;
}

.modal-exit-active {
  transform: translateY(-2rem);
  opacity: 0;
  transition: all 200ms;
}

.modal {
  z-index: 100;
  position: fixed;
  top: 5vh;
  left: 40%;
  width: auto;
  height: auto;
  background: gray;

  .header {
    padding: 0 10px 0 10px;
    width: 100%;
    background: lightgreen;
    color: white;
    display: flex;

    &__text {
      min-width: calc(100% - 25px);
    }

    &__close-icon {
      width: 25px;
      height: 25px;
      color: white;
    }
  }

  .content {
    padding: 5%;
    text-align: center;
  }

  .footer {
    width: 100%;
    text-align: center;
  }
}
