.menu-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100%;

  &__logout {
    color: white;

    @media (min-width: 768px) {
      display: none;
    }
  }
}
