@import "../../theme.scss";

.modal-enter {
  transform: translateY(-4rem);
  opacity: 0;
}

.modal-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 100ms;
}

.modal-exit {
  transform: translateY(0);
  opacity: 1;
}

.modal-exit-active {
  transform: translateY(-4rem);
  opacity: 0;
  transition: all 100ms;
}

.modal {
  z-index: 100;
  position: fixed;
  top: 25vh;
  left: 40%;
  width: auto;
  height: auto;
  background: $white;

  .header {
    font-size: 0.7em;
    padding: 0 10px 0 10px;
    width: 100%;
    background: $black;
    color: $white;
    display: flex;
    align-items: center;

    &__text {
      min-width: calc(100% - 30px);
    }

    &__close__button {
      margin-left: auto;
    }

    &__close__icon {
      width: 30px;
      height: 30px;
      color: $white;
    }
  }

  .content {
    padding: 5%;
    text-align: center;

    &__icon {
      width: 100px;
      height: 100%;
    }
  }

  .actions {
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
  }
}
