.single-user {
  margin: 1rem;
  width: calc(45% - 2rem);
  min-width: 17.5rem;

  &__container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 1rem;
    color: gray;
    background: white;
  }

  &__content {
    padding: 0;
  }

  &__details {
    margin: 0;
    display: flex;
  }

  &__details-item {
    padding-top: 0;
    margin: 0;
  }

  &__details-item:not(:first-child) {
    padding-left: 10px;
  }

  &__name {
    font-size: 1.5rem;
    margin: 0 0 0.5rem 0;
    font-weight: normal;
    flex-basis: calc(100% - 5.5rem);
  }

  &__container:visited {
    color: black;
  }

  &__container:hover {
    color: lightgreen;
  }
}
