.button {
  cursor: pointer;
  text-decoration: none;
  min-height: 25px;

  &--primary {
    background: lightgreen;
  }

  &--secondary {
    background: black;
  }

  &--form {
    border: none;
    width: 100%;
    padding: 1em;
    border: none;
    color: white;
    margin-bottom: 5px;
  }

  &--modal {
    background: black;
    color: white;
    border: none;
    width: 50%;
    height: 50px;
    margin-bottom: 25px;
  }

  &--disabled {
    border: 1px solid gray;
    color: gray;
    cursor: not-allowed;
  }

  &--transparent {
    background: transparent;
    border: none;
  }
}
