.image-upload {
  &__input {
    display: none;
  }

  &__preview {
    max-width: 200px;
    display: block;
    margin: 1em auto 1em;
    border: 1px solid gray;
  }

  &__preview_label {
    color: gray;
    font-size: 0.6em;
  }
}
