$black: rgb(0, 0, 0);
$primary-color: rgb(0, 179, 6);
$secondary-color: $black;
$background: rgb(53, 53, 53);
$disabled: rgb(212, 212, 212);
$white: rgb(255, 255, 255);
$backdrop: rgba(0, 0, 0, 0.7);
