.modal {
  z-index: 100;
  position: fixed;
  top: 25vh;
  left: 40%;
  width: auto;
  height: auto;
  background: white;

  &__close {
    margin-left: calc(95% - 25px);
    color: white;
  }

  &__close-icon {
    width: 25px;
    height: 25px;
  }

  &__header {
    width: 100%;
    background: lightgreen;
  }
}
