.header {
  width: 100%;
  background: black;
  margin: 0;

  &__link {
    text-decoration: none;
  }

  &__site-name {
    color: white;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .header__site-name {
    width: 100%;
    text-align: center;
  }
}
