.card {
  margin: 0;
  box-shadow: 0 0 60px rgb(0, 0, 0);
  border-radius: 6px;
  padding: 1rem;
  overflow: hidden;
  background: white;
  padding: 30px;

  &--center {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
